* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

span {
    border-bottom: 2px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

.span {
    border-bottom: 2px solid #4fa044;
}

.span-hidden {
    visibility: hidden;
}

p {
    font-weight: 300;
    margin-bottom: .8rem;
}

.puzzle {
    display: flex;
    margin-bottom: 4.8rem;
}

.paragraph {
    margin: 0 auto;
    padding-bottom: 3.8rem;
    text-align: center;
}

.button {
    display: block;
    margin: 0 auto;
    width: 100px;
    background: #4fa044;
    border: none;
    border-bottom: 2px solid #4a883a;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
    border-radius: 0.5rem;
}

.button:hover {
    background: rgb(73, 135, 58);
}